<a href="/admin/products" class="h1 p-3 mb-2 bg-primary text-white">Number of products: <%= @count_products %></a><br><br>
<a href="/admin/categories" class="h1 p-3 mb-2 bg-primary text-whitey">Number of categories: <%= @count_categories %></a>
