<div class="d-flex flex-column">
  <div>
    <a href="/admin/products" class="btn btn-primary">
      Number of products: <%= @count_products %>
    </a>
  </div>
  <div>
    <a href="/admin/categories" class="btn btn-primary">
      Number of categories: <%= @count_categories %>
    </a>
  </div>
</div>